[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
jinja2 = "*"
python-multipart = "*"

[dev-packages]
mypy = "*"
black = "==21.5b1"

[requires]
python_version = "3.9"
