<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th class="w-25">PID</th>
            <th class="w-25">Name</th>
            <th class="w-25">Status</th>
            <th class="w-25">CPU %</th>
        </tr>
    </thead>
    <tbody>
        {% for p in processes %}
            <tr>
                <td>{{ p.pid }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.status }}</td>
                <td>{{ p.cpu_percent }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
