<!DOCTYPE html>
<html>
    <head>
        <title>Top</title>
        <script type="module">
            //import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
            import { connectStreamSource } from 'https://cdn.skypack.dev/@hotwired/turbo';
            var ws = new WebSocket("ws://localhost:8000/ws");
            connectStreamSource(ws);
        </script>
    </head>
    <body>
        <h1>WebSocket Top</h1>
        <!--
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id='messages'>
        </ul>
        -->
        <turbo-frame id="processes">
            {% include '_processes.html' %}
        </turbo-frame>
        <script>
            //var ws = new WebSocket("ws://localhost:8000/ws");
            //hotwiredTurbo.connectStreamSource(ws);
            /*
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };

            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
            */
        </script>
    </body>
</html>
