<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket Top</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script type="module">
            import { connectStreamSource } from 'https://cdn.skypack.dev/@hotwired/turbo';
            const ws = new WebSocket("ws://localhost:8000/ws");
            connectStreamSource(ws);

            const form = document.getElementById("form");
            form.onchange = function sendMessage(event) {
                const formData = new FormData(form)
                const json = JSON.stringify(Object.fromEntries(formData))
                ws.send(json)
                event.preventDefault()
            }
        </script>
    </head>
    <body>
        <div class="container">
            <h1>WebSocket Top</h1>

            {% include '_server_time.html' %}

            <form id="form">
                <fieldset class="border p-2">
                    <legend class="w-auto">Controls</legend>

                    <div class="row">
                        <div class="col">
                            <label for="sort">Sort by</label>
                            <select name="sort" id="sort">
                                <option value="pid" selected>PID</option>
                                <option value="name">Name</option>
                                <option value="status">Status</option>
                                <option value="cpu_percent">CPU %</option>
                            </select>
                        </div>

                        <div class="col">
                            <input type="radio" name="order" value="asc" id="asc" class="form-check-input" checked />
                            <label for="asc" class="form-check-label">Ascending</label>
                            <input type="radio" name="order" value="desc" id="desc" class="form-check-input" />
                            <label for="desc">Descending</label>
                        </div>

                        <div class="col">
                            <label for="refresh" class="form-label">Refresh time</label>
                            <input name="refresh" type="number" id="refresh" value="1" class="form-input" min="1" />
                        </div>
                    </div>
                </fieldset>
            </form>

            <turbo-frame id="processes">
                {% include '_processes.html' %}
            </turbo-frame>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>
